.header{
  display: flex;
  color: var(--Black, #202226);
  text-align: center;
  font-family: Lexend Deca;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.24px;
}
